body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.91);
}
#myBox{
    width: 200px;
    height: 200px;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
